

/* // Entire Screen */
body {
    background-color: grey;
    font-size: 12px;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* // Header Area */
header{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid red;
}
.title{
        color: red;
    }


/* //Middle Area */
.animalCardsArea-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    
}
.animalCards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px 200px;
    height: 400px;
}
.animalCard{  
    width: 100%;
    text-align: center;
    border: 1px solid black;
    box-shadow: 5px 5px 3px red;
    transform: translateY(12px);
    transition: 0.5s;
    
}
.animalImage{
    width: 100%;  }

.imageSource{
        width: 100%;
        padding: 10px;
    }


.cardInfo{
    text-align: center;
    margin-top: 5px;
    border-top: 1px solid black;
    position: relative;
}
.animalName{
      font-size: 40px;
   }
.animalAge{
       position: absolute;
       top:-5px;
       right: 5px;
       font-size: 80px;
   }






/* // Footer Area */
.footer-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid red;
}

.footer-container{
        flex-direction: row;
        display: flex;
    }
    p{
        font-size: 1rem;
        align-items: baseline;
        color: red;
        margin: 0px;
    }
    img {
        height: 15px;
        width: 15px;
        margin-left: 3px;
        margin-top: 2px;
    }

